{% extends "search_result.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6 mt-2 mb-sm-3" id="image-section">
        <div id="image-box">
            <img src="../../static/images/demo_book.jpg" alt="">
        </div>
    </div>
    <div class="col-sm-6">
        <h1>{{ title | title }} </h1>
        <p>by {{ author | title }}</p>
        <p>Avg 4.3 / 10 ratings</p>
        <p>Year of publication: {{ year }}</p>
        <p>ISBN: {{ isbn }}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h3>Ratings and Reviews</h3>
        {% if session.username and not past_review %}
        <!-- Source: https://stackoverflow.com/questions/29893259/rating-system-with-stars -->
        <form action="{{ url_for('.book') }}" method="POST">
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4">4 stars</label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1">1 star</label>
            </fieldset>
            <div class="form-group">
                <input type="text" class="form-control" id="rating" name="rating" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="comment" rows="4" placeholder="Write a review.."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% elif not session.username %}
        <p class="lead text-center py-3">
            Please log in to write review.
            <button type="submit" class="btn btn-outline-primary ml-2">Log in</button>
        </p>
        {% endif %}
    </div>
</div>
<hr>

{% for review in reviews %}
<div class="row">
    <div class="col-md-6">
        <h4>{{ review["username"] }}</h4>
        <p class="small text-muted">{{ review["posted_on"] }}</p>
    </div>
    <div class="col-md-6">
        <p>Rating: {{ review["rating"] }}</p>
        <p>{{ review["comment"] }}</p>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}